*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.leaflet-container{
    height: 60vh;
  }
.MuiFormHelperText-root{
    text-align: right !important;
    color: red !important;
    font-weight:700 !important;
    padding-top: 2px !important;
}

